.editor-page-templates__help-link {
	font-size: 14px;
	display: inline-block;
	margin-bottom: 6px;
}

.editor-page-templates__select-dropdown {
	.select-dropdown__item {
		text-overflow: initial;
	}
}
